{% extends "flask_user_layout.html" %}
{% block content %}
<br>
    <div class="button-container">
        <a href="{{ url_for('movies') }}" class="custom-button">Movies</a> 
        <a href="{{ url_for('movie_recommender') }}" class="custom-button">Movie Recommender</a> 
        <div class="custom-button search-form">
            <form action="{{ url_for('movies_search') }}" method="GET">
                <input type="text" name="query" placeholder="Search..." class="custom-button-input">
            </form>
        </div>
    </div>

    <br><br><br><br>
   
    <div style="text-align: center;">
        <h1>Welcome to our Movie Recommender!</h1>
        <h3>A movie recommendation system based on your ratings :)</h3>
    </div>

    <br><br><br>

    <div class="custom-header">
        TOP MOVIES
    </div>
    
    <br><br>


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/carousel.css') }}">

    <div class="wrapper">
        {% for i in range(0, top_movies|length, 8) %}
            <section id="top-section{{ i//8 + 1 }}">
                <a href="#top-section{{ i//8 if i//8 > 0 else (top_movies|length)//8 }}">
                    <div class="arrow_btn_container">
                        <div class="arrow_btn_left"></div>
                    </div>
                </a>
                {% for movie in top_movies[i:i+8] %}
                    <div class="item">
                        <a href="https://www.imdb.com/title/tt{{ movie.links[0].imdb_id }}" target="_blank">
                            <img src="http://img.omdbapi.com/?i=tt{{ movie.links[0].imdb_id }}&apikey=" alt="Movie Poster" height="250">
                        </a>
                    </div>
                {% endfor %}
                <a href="#top-section{{ i//8 + 2 if i//8 + 2 <= (top_movies|length)//8 else 1 }}">
                    <div class="arrow_btn_container arrow_btn_container_right">
                        <div class="arrow_btn_right"></div>
                    </div>
                </a>
            </section>
        {% endfor %}
    </div>

    <br><br><br>

    <div class="custom-header">
        DISCOVER
    </div>

    <br><br>
    
    <div class="wrapper">
        {% for i in range(0, discover_movies|length, 8) %}
            <section id="discover-section{{ i//8 + 1 }}">
                <a href="#discover-section{{ i//8 if i//8 > 0 else (discover_movies|length)//8 }}">
                    <div class="arrow_btn_container">
                        <div class="arrow_btn_left"></div>
                    </div>
                </a>
                {% for movie in discover_movies[i:i+8] %}
                    <div class="item">
                        <a href="https://www.imdb.com/title/tt{{ movie.links[0].imdb_id }}" target="_blank">
                            <img src="http://img.omdbapi.com/?i=tt{{ movie.links[0].imdb_id }}&apikey=" alt="Movie Poster" height="250">
                        </a>
                    </div>
                {% endfor %}
                <a href="#discover-section{{ i//8 + 2 if i//8 + 2 <= (discover_movies|length)//8 else 1 }}">
                    <div class="arrow_btn_container arrow_btn_container_right">
                        <div class="arrow_btn_right"></div>
                    </div>
                    
                </a>
            </section>
        {% endfor %}
    </div>
    <br><br>
{% endblock %}