{% extends "flask_user_layout.html" %}
{% block content %}
<div class="container">
    <h2>Movies</h2>

    {% for m in movies.items %}
    <div class="panel panel-default">
        <div class="panel-heading"><b>{{ m.title }}</b>
            <span class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <b>{{ average_ratings[m.id][0] }}/5</b> ({{ average_ratings[m.id][1] }} votes)
            </span>
        </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8">
                        <p>
                            {% for g in m.genres %}
                                <span class="label label-default">{{ g.genre }}</span>
                            {% endfor %}
                        </p>
                        <p>
                            {% for tag in movie_tags[m.id] %}
                                {% if loop.index <= 5 %}
                                    <span class="label label-info">{{ tag }}</span>
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                    <div class="col-md-4 text-right">
                        <div style="margin-bottom: 10px;">
                            <a href="https://www.imdb.com/title/tt{{ m.links[0].imdb_id }}" target="_blank">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/IMDB_Logo_2016.svg" alt="IMDB Logo" height="30">
                            </a>
                        </div>
                        <div>
                            <a href="https://www.themoviedb.org/movie/{{ m.links[0].tmdb_id }}" target="_blank">
                                <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg" alt="TMDB Logo" height="20">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <form action="/rate_movie" method="post" id="form{{ m.id }}">
                    <input type="hidden" name="movie_id" value="{{ m.id }}">
                    <fieldset class="rate">
                        {% for i in [5, 4.5, 4, 3.5, 3, 2.5, 2, 1.5, 1, 0.5] %}
                            <input type="submit" id="rating{{ i*2 }}-{{ m.id }}" name="rating" value="{{ i }}" form="form{{ m.id }}"
                            {% if user_ratings[m.id] == i %}class="rated"{% endif %}/>
                            <label {% if i != i|round(0) %}class="half"{% endif %} for="rating{{ i*2 }}-{{ m.id }}" title="{{ i }} stars"></label>
                        {% endfor %}
                    </fieldset> 
                </form>
            </div>
            {% with messages = get_flashed_messages(category_filter=[m.id]) %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    {% endfor %}

    <div class="pagination">
        {% if movies.has_prev %}
            <a href="{{ url_for('movies', page=movies.prev_num) }}">Previous</a>
        {% endif %}
        {% for page_num in movies.iter_pages() %}
            {% if page_num %}
                {% if page_num != movies.page %}
                    <a href="{{ url_for('movies', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="active" href="#">{{ page_num }}</a>
                {% endif %}
            {% else %}
                <span class="ellipsis">...</span>
            {% endif %}
        {% endfor %}
        {% if movies.has_next %}
            <a href="{{ url_for('movies', page=movies.next_num) }}">Next</a>
        {% endif %}
    </div>

    <style>
        /* Base setup */
        @import url(//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css);
        body {
            margin: 5%; 
            color: #333; 
        }

        .rating {
            float: right;
        }

        .panel-heading{
            font-size: 16px;
        }

        .fa-star {
            color: #f9c10b;
            font-size: 2rem;
        }

        /* Ratings widget */
        .rate {
            display: inline-block;
            border: 0;
        }
        /* Hide radio */
        .rate > input {
            display: none;
        }
        /* Order correctly by floating highest to the right */
        .rate > label {
            float: right;
        }
        /* The star of the show */
        .rate > label:before {
            display: inline-block;
            font-size: 3rem;
            padding: .0rem .5rem;
            padding-top: 8px;
            margin: 0;
            cursor: pointer;
            font-family: FontAwesome;
            content: "\f005 "; /* full star */
        }

        /* Half star trick */
        .rate .half:before {
            content: "\f089 "; /* half star no outline */
            position: absolute;
            padding-right: 0;
            padding-top: 8px; /* maybe negative bottom padding*/
        }
        /* Click + hover color */
        input:checked ~ label, /* color current and previous stars on checked */
        label:hover, label:hover ~ label { color: #f9c10b;  } /* color previous stars on hover */

        /* Hover highlights */
        input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
        input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
        label:hover ~ input:checked ~ label /* highlight previous selected stars */ { color: #f7d331;  } 

        /* Click + hover color */
        input.rated ~ label, /* color current and previous stars on checked */
        label:hover, label:hover ~ label { color: #f9c10b;  } /* color previous stars on hover */
        input.rated + label:hover, input.rated ~ label:hover, /* highlight current and previous stars */
        input.rated ~ label:hover ~ label, /* highlight previous selected stars for new rating */
        label:hover ~ input.rated ~ label /* highlight previous selected stars */ { color: #f7d331;  } 


        .pagination {
            display: flex;
            justify-content: center;
            padding: 20px 0;
        }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

        .pagination a.active {
            background-color: #5bc0de;
            color: white;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }

        .pagination span.ellipsis {
            float: left;
            padding: 8px 16px;
        }
    </style>
    
    <script>
        window.onload = function() {
            if ('scroll_position' in sessionStorage) {
                window.scrollTo({
                    top: sessionStorage.getItem('scroll_position'),
                    behavior: 'instant'
                });
            }
        }

        window.onbeforeunload = function() {
            sessionStorage.setItem('scroll_position', window.pageYOffset);
        }
    </script>

</div>
{% endblock %}
