/* Color scheme */
:root {
    --left-panel-color: rgb(35, 35, 37);
    --right-panel-color: rgb(43, 43, 45);
    --banner-color: rgb(27, 27, 28);
    --text-color: #f2ede7;
    --banner-height: 50px;
    --left-panel-width: 25%;
}
  
/* Global styles */
body {
    font-family: Montserrat, sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

/* Prevent scrolling on the entire page */
body, html {
    overflow: hidden;
}

/* Banner */
.banner {
    background-color: var(--banner-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    padding-left: 20px;
    font-size: 10px;
    color: var(--text-color);
    position: relative;
}

/* Logo inside the banner */
.banner .logo {
    margin-right: 10px;
    height: var(--banner-height);
}

/* Dropdown inside the banner */
.user-dropdown {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: var(--banner-color);
    color: var(--text-color);
    outline: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 550;
}

.user-dropdown:hover {
    background-color: var(--right-panel-color);
    box-shadow: 0 2px 10px var(--right-panel-color);
}


/* Left Panel */
.left-panel {
    background-color: var(--left-panel-color);
    width: var(--left-panel-width);
    height: calc(100vh - var(--banner-height));
    position: fixed;
    overflow: auto;
}
.left-panel h2 {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--text-color);
}
.left-panel-text {
    padding-left: 20px;
}

/* Channel list inside the left panel */
.channel {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--text-color);
}

.channel a {
    display: block;
    color: inherit;
    text-decoration: none;
}

/* Right Panel */
.right-panel {
    background-color: var(--right-panel-color);
    width: 75%;
    height: calc(100vh - 140px);
    position: absolute;
    right: 0;
    overflow: auto;
}

/* Placeholder at the bottom of the right panel that gets overlayed
with the message input field once a channel is selected */
.right-panel-bottom-placeholder{
    background-color: var(--right-panel-color);
    height: 90px;
    width: 75%;
    position: absolute;
    margin-top: calc(100vh - 140px);
    right: 0;
}

.channel-header {
    text-align: center;
}

/* Container for messages */
.container {
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Messages */
.messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}

.message-date {
    font-size: 10px;
    text-align: center;
}

.speech-bubble {
    position: relative;
    background: var(--left-panel-color);
    border-radius: .4em;
    color: var(--text-color);
    padding: 10px;
    margin: 15px;
    margin-right: 80px;
}

/* Arrow for the speech bubble */
.speech-bubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: var(--left-panel-color);
    border-top: 0;
    border-left: 0;
    margin-left: -10px;
    margin-top: -20px;
}

.message-date, .message-time {
    font-size: 60%;
    color: #aaa;
}

/* Message bar with input field */
.message-bar {
    position: fixed;
    bottom: 0;
    width: calc(100% - var(--left-panel-width));
    background-color: var(--left-panel-color);
    padding: 10px 20px;
    flex-shrink: 0;
    z-index: 10;
}

.message-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-input input {
    flex-grow: 1;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
}

.message-input button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 35px;
}
