<!DOCTYPE html>
<html>
  <head>
    <title>Allmighty Web Index</title>
    <link rel="icon" type="image/x-icon" 
          href="{{ url_for('static', filename='img/logo_favicon.png')}}">
    <link rel="stylesheet" 
          href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" 
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/styles.css')}}">
    <style>
      .star {
        position: absolute;
        width: 2px;
        height: 2px;
        background: white;
        border-radius: 50%;
      }
    </style>
  </head>

  <body class="start-page">
    <img src="{{ url_for('static', filename='img/logo.png')}}" alt="Allmighty Web Index Logo" class="logo" >
    
    <form action="{{ url_for('search') }}" method="GET" id="searchForm">
      <input type="text" name="q" placeholder="Search...">
      <button type="submit" class="material-symbols-outlined">
        <span class="material-symbols-outlined">
          Search
        </span>
      </button>
    </form>

    <script src="{{ url_for('static', filename='js/stars.js')}}"></script>
  </body>

  <footer class="footer-start">
    <p>© Allmighty Web Index Inc, 2023</p>
  </footer>

</html>
