/* Rating Stars */
@import url(//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css);
body {
    margin: 5%; 
    color: #333; 
}

.rating {
    float: right;
}

.panel-heading{
    font-size: 16px;
}

.fa-star {
    color: #f9c10b;
    font-size: 2rem;
}

/* Ratings widget */
.rate {
    display: inline-block;
    border: 0;
}
/* Hide radio */
.rate > input {
    display: none;
}
/* Order correctly by floating highest to the right */
.rate > label {
    float: right;
}
/* The star of the show */
.rate > label:before {
    display: inline-block;
    font-size: 3rem;
    padding: .0rem .5rem;
    padding-top: 8px;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 "; /* full star */
}

/* Half star trick */
.rate .half:before {
    content: "\f089 "; /* half star no outline */
    position: absolute;
    padding-right: 0;
    padding-top: 8px; /* maybe negative bottom padding*/
}
/* Click + hover color */
input:checked ~ label, /* color current and previous stars on checked */
label:hover, label:hover ~ label { color: #f9c10b;  } /* color previous stars on hover */

/* Hover highlights */
input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
label:hover ~ input:checked ~ label /* highlight previous selected stars */ { color: #f7d331;  } 

/* Click + hover color */
input.rated ~ label, /* color current and previous stars on checked */
label:hover, label:hover ~ label { color: #f9c10b;  } /* color previous stars on hover */
input.rated + label:hover, input.rated ~ label:hover, /* highlight current and previous stars */
input.rated ~ label:hover ~ label, /* highlight previous selected stars for new rating */
label:hover ~ input.rated ~ label /* highlight previous selected stars */ { color: #f7d331;  }

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #5bc0de;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.pagination span.ellipsis {
    float: left;
    padding: 8px 16px;
}

/* Styling from flask user */
hr { border-color: #cccccc; margin: 0; }
.no-margins { margin: 0px; }
.with-margins { margin: 10px; }
.col-centered { float: none; margin: 0 auto; }