/* Rating Stars */
/* Stars Code adapted from: https://codepen.io/anefzaoui/pen/NWPZzMa */
@import url(//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css);

/* Color scheme */
:root {
    --background-color: rgb(35, 35, 37);
    --text-color: #f2ede7;
}
  
/* Global styles */
body {
    font-family: Montserrat, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 5%; 
}

.rating {
    float: right;
}

.panel-heading{
    font-size: 16px;
}

.fa-star {
    color: #f9c10b;
    font-size: 2rem;
}

/* Ratings widget */
.rate {
    display: inline-block;
    border: 0;
}

/* Hide radio */
.rate > input {
    display: none;
}

/* Order correctly by floating highest to the right */
.rate > label {
    float: right;
    color: var(--background-color);
}

/* The stars */
.rate > label:before {
    display: inline-block;
    font-size: 3rem;
    padding: .0rem .5rem;
    padding-top: 8px;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 "; /* full star */
}

/* Half star trick */
.rate .half:before {
    content: "\f089 "; /* half star no outline */
    position: absolute;
    padding-right: 0;
    padding-top: 8px; /* maybe negative bottom padding*/
}

/* Click + hover color */
input:checked ~ label, /* color current and previous stars on checked */
label:hover, label:hover ~ label { color: #f9c10b;  } /* color previous stars on hover */

/* Hover highlights */
input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
label:hover ~ input:checked ~ label /* highlight previous selected stars */ { color: #f7d331;  } 

/* Click + hover color */
input.rated ~ label, /* color current and previous stars on checked */
label:hover, label:hover ~ label { color: #f9c10b;  } /* color previous stars on hover */
input.rated + label:hover, input.rated ~ label:hover, /* highlight current and previous stars */
input.rated ~ label:hover ~ label, /* highlight previous selected stars for new rating */
label:hover ~ input.rated ~ label /* highlight previous selected stars */ { color: #f7d331;  }

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.pagination a {
    color: var(--text-color);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    font-weight: bold;
}

.pagination a.active {
    background-color: #33ccff;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.pagination span.ellipsis {
    float: left;
    padding: 8px 16px;
}

/* Styling from flask user */
hr { border-color: #cccccc; margin: 0; }
.no-margins { margin: 0px; }
.with-margins { margin: 10px; }
.col-centered { float: none; margin: 0 auto; }
.custom-footer { margin-top: 15px; }


/* Search icon */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    color: var(--text-color);
}


/* Logo styles */
.logo {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px; 
}

.logo-container {
    text-align: center;
}


/* Burger Menu / Navbar styles */
#burger-menu {
    cursor: pointer;
    width: 35px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#burger-menu div {
    width: 100%;
    height: 4px;
    background-color: #333;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}

#burger-menu:hover div {
    background-color: #888;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(17, 17, 17, 0.97);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 20;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .custom-button {
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    font-size: 20px;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(90deg, #007bff, #33ccff);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    perspective: 800px;
}
.custom-button:hover {
    background: #ff7733;
    box-shadow: 0px 0px 20px #ff7733, 0px 20px 50px #ff7733, 0px 30px 100px #ff7733;
    transform: translateY(-3px);
    font-weight: bold;
    color: #fff;
}
.custom-button:active {
    transform: translateY(2px);
}
.custom-button:before, .custom-button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #ff7733, #ffcc00);
    z-index: -1;
    transition: 0.5s;
}
.custom-button:before {
    filter: blur(20px);
    transform: scale(1.5);
}
.custom-button:after {
    opacity: 0;
    transition: 0s;
}
.custom-button:hover:before {
    filter: blur(40px);
}
.custom-button:hover:after {
    opacity: 1;
    transition: 0.5s;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 50px;
}
.custom-button-input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    outline: none;
}
.custom-button-input::placeholder {
    color: #fff;
}
.search-form {
    width: 300px;
}

.search-form-movies { 
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Custom Header with gradient */
.custom-header {
    background: linear-gradient(90deg, #007bff, #33ccff);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    padding: 2px;
    font-size: 25px;
    letter-spacing: 4px;
    text-align: center;
    width: 300px;
    margin: 0 auto; /* This will center the box horizontally */
    position: relative;
    transform: translateY(40%); /* This will offset the box by half its height */
}

.custom-header-recommendations {
    width: 550px;
}

.custom-header-search {
    width: 400px;
}

.plot-description {
    color: var(--background-color);
    font-size: 18px;
    margin-top: 20px;
    font-weight: 500;
}
