<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>List of channels</title>
        
        <!-- Custom Stylesheet -->
        <link rel="stylesheet"
            href="{{ url_for('static', filename='css/styles.css')}}">
    </head>
    <body>

        <div class="banner">
            <a href="{{url_for('home_page')}}">
                <img src="{{ url_for('static', filename='img/Logo_chat.png')}}" alt="Logo" class="logo">
            </a>
            <h1>WhatsWebApp</h1>
            <div class="user-controls">
                <div class="add-user-button-wrapper">
                    <button id="add-user" class="add-user-button">
                        <img src="{{ url_for('static', filename='img/plus.png')}}" alt="Add User">
                    </button>
                </div>
                <select id="current-user" class="user-dropdown">
                    {% for user in users %}
                        <option value="{{ user.username }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="left-panel">
            <h2><div class="left-panel-text">Local Channels:</div></h2>
            {% for channel in local_channels %}
                <div class="channel left-panel-text">
                    <h3>
                        <a href="#" class="channel-link" data-channel="{{ channel.endpoint | urlencode }}" data-id="{{ channel.id }}">{{ channel.name }}</a>
                    </h3>
                    Sender: Last Message.
                </div>
            {% endfor %}

            <br><br><br><br>
            <h2><div class="left-panel-text">Remote Channels:</div></h2>
            {% for channel in remote_channels %}
                <div class="channel left-panel-text">
                    <h3>
                        <a href="#" class="channel-link" data-channel="{{ channel.endpoint | urlencode }}" data-id="None">{{ channel.name }}</a>
                    </h3>
                    Sender: Last Message.
                </div>
            {% endfor %}
        </div>
        
        <div class="right-panel" id="channel-content">
            <h2><div class="channel-header">Welcome to WhatsWebApp</div></h2>
            <p class="channel-header">Please select a channel to view the messages.</p>
        </div>
        <div class="right-panel-bottom-placeholder"></div>
        
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script>
            $(document).ready(function() {
                $('.channel-link').click(function(e) {
                    e.preventDefault(); // Prevent the default action
                    var channel = $(this).data('channel'); // Get the channel from the data-channel attribute
                    var channel_id = $(this).data('id') || null; // Get the channel id from the data-id attribute
                    var sender = $('#current-user').val();
                    $.ajax({
                        url: '/show',
                        type: 'GET',
                        data: { channel: channel, channel_id: channel_id, sender: sender},
                        success: function(response) {
                            // Insert the response into the #channel-content element
                            $('#channel-content').html(response);
                            // Scroll to the bottom of the container
                            var container = document.querySelector('#channel-content');
                            container.scrollTop = container.scrollHeight;
                        },
                        error: function(error) {
                            console.log(error);
                        }
                    });
                });
            });
        </script>
        <script>
            document.getElementById('add-user').addEventListener('click', function() {
                var username = prompt("Enter new user name"); // Prompt the user for a new username
                if (username) {
                    fetch('/add_user', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({username: username}),
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Insert user into current user dropdown and select it
                            var select = document.getElementById('current-user');
                            var option = document.createElement('option');
                            option.value = username;
                            option.text = username;
                            select.add(option);
                            option.selected = true;
                        } else {
                            alert(data.message);
                        }
                    });
                } else {
                    alert('Username is required');
                }
            });
        </script>
    </body>
</html>